%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{plugins, [
           {rebar3_neotoma_plugin, {git, "git@github.com:zamotivator/rebar3_neotoma_plugin.git", {branch, "master"}}},
           rebar3_auto
          ]}.
{provider_hooks, [{pre, [{neotoma, compile}]}]}.
{deps, [
        {riak_core, {git, "git://github.com/basho/riak_core", {branch, "develop"}}}
]}.
{cover_enabled, true}.

% `setup' has some issues w/Rebar3 with going into a loop trying to generate escript
{overrides, [{override, setup, [{post_hooks, []}]}]}.
{dialyzer, [{plt_extra_apps, [riak_core]}]}.
