%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{plugins, [
           {rebar3_neotoma_plugin, {git, "git@github.com:zamotivator/rebar3_neotoma_plugin.git", {branch, "master"}}}
          ]}.
{provider_hooks, [{pre, [{neotoma, compile}]}]}.
{deps, []}.
