%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{plugins, [ rebar3_neotoma_plugin, rebar3_run, rebar3_auto ]}.
{deps, [ {riak_core, {git, "git://github.com/basho/riak_core", {branch, "develop"}}} ]}.
{cover_enabled, true}.

% `setup' has some issues w/Rebar3 with going into a loop trying to generate escript
{overrides, [{override, setup, [{post_hooks, []}]}]}.
{dialyzer, [{plt_extra_apps, [riak_core]}]}.

{relx, [
        {release, {cryspi_data, "0.0.0"}, [cryspi]},
        {dev_mode, true},
        {sys_config, "config/sys.config"}
       ]}.
